In [14]:
import requests
import pandas as pd

df = pd.read_excel('Websites.xlsx')
print(df)

response = requests.get('https://www.google.com/')
print(response.status_code)

                         Name
0  https://www.tagesschau.de/
1     https://www.google.com/
2     https://www.wetter.com/
3  https://www.instagram.com/
4   https://www.linkedin.com/
200

In [16]:
df = pd.read_excel('Websites.xlsx')

for index, websites in df.iterrows():
    print(index, websites)

0 Name    https://www.tagesschau.de/
Name: 0, dtype: object
1 Name    https://www.google.com/
Name: 1, dtype: object
2 Name    https://www.wetter.com/
Name: 2, dtype: object
3 Name    https://www.instagram.com/
Name: 3, dtype: object
4 Name    https://www.linkedin.com/
Name: 4, dtype: object

In [18]:
df = pd.read_excel('Websites.xlsx')

for index, websites in df.iterrows():
    print(index, websites["Name"])

0 https://www.tagesschau.de/
1 https://www.google.com/
2 https://www.wetter.com/
3 https://www.instagram.com/
4 https://www.linkedin.com/

In [20]:
df = pd.read_excel('Websites.xlsx')

for index, websites in df.iterrows():
    print(index, websites["Name"])

    response = requests.get(websites["Name"])
    print(response.status_code)

0 https://www.tagesschau.de/
200
1 https://www.google.com/
200
2 https://www.wetter.com/
200
3 https://www.instagram.com/
200
4 https://www.linkedin.com/
200

In [28]:
df = pd.read_excel('Websites.xlsx')

for index, websites in df.iterrows():
    print(index, websites["Name"])

    try:
        response = requests.get(websites["Name"])
        print(response.status_code)
    except:
        print("The website {} is not available! ".format(websites["Name"]))

0 https://www.tagesschau.de/
200
1 https://www.google.com/
200
2 https://www.wetter.com/
200
3 https://www.instagram.com/
200
4 https://www.linkedin.com/
200
5 https://www.somewebsite.com
The website https://www.somewebsite.com is not available!

In [32]:
df = pd.read_excel('Websites.xlsx')

for index, websites in df.iterrows():

    try:
        response = requests.get(websites["Name"])
        df.at[index, "status_code"] = response.status_code
    except:
        df.at[index, "status_code"] = "Website is not available!"

print(df)

                          Name                status_code
0   https://www.tagesschau.de/                      200.0
1      https://www.google.com/                      200.0
2      https://www.wetter.com/                      200.0
3   https://www.instagram.com/                      200.0
4    https://www.linkedin.com/                      200.0
5  https://www.somewebsite.com  Website is not available!

C:\Users\philw\AppData\Local\Temp\ipykernel_25804\3452599857.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Website is not available!' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.at[index, "status_code"] = "Website is not available!"

In [36]:
df = pd.read_excel('Websites.xlsx')

df['status_code'] = None

for index, websites in df.iterrows():

    try:
        response = requests.get(websites["Name"])
        df.at[index, "status_code"] = response.status_code
    except:
        df.at[index, "status_code"] = "Website is not available!"

print(df)

                          Name                status_code
0   https://www.tagesschau.de/                        200
1      https://www.google.com/                        200
2      https://www.wetter.com/                        200
3   https://www.instagram.com/                        200
4    https://www.linkedin.com/                        200
5  https://www.somewebsite.com  Website is not available!